@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --text: #282828;
  --scrollbar: #888;
  --track: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --foreground: #ededed;
    --text: #fff;
    --scrollbar: #222;
    --track: #111;
  }
}

body {
  background: var(--background);
  color: var(--text);
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .dark-admin-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #12111c inset !important;
    box-shadow: 0 0 0 1000px #12111c inset !important;
    -webkit-text-fill-color: #fff !important;
    color: #fff !important;
    background-color: #12111c !important;
    background-clip: border-box !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }
  .light-admin-input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
    box-shadow: 0 0 0 1000px #fff inset !important;
    -webkit-text-fill-color: #282828 !important;
    color: #282828 !important;
    background-color: #fff !important;
    background-clip: border-box !important;
    transition: background-color 5000s ease-in-out 0s !important;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.t-1 {
  background-image: url("/images/t-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 1114px;
  height: 727px;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.t-2 {
  background-image: url("/images/t-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  top: 0;
  z-index: 10;
}
.who-we-are-img {
  background-image: url("/images/who-we-are.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}

@media screen and (max-height: 1025px) {
  .admin-testimonial-modal {
    height: calc(100dvh - 200px);
  }
}
@media screen and (max-height: 520px) {
  .admin-testimonial-modal {
    height: calc(100dvh);
  }
}
