@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: #fff;
  background: #111;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #1ca3ba; /* Orange-500 color */
  border-radius: 6px; /* Rounded thumb */
  border: 3px solid #1ca3ba;
}

::-webkit-scrollbar-track {
  background-color: #111;
}

.t-1 {
  background-image: url("/images/t-1.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 1114px;
  height: 727px;
  left: 0;
  bottom: 0;
  z-index: 10;
}

.t-2 {
  background-image: url("/images/t-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  top: 0;
  z-index: 10;
}
.who-we-are-img {
  background-image: url("/images/who-we-are.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
.blob-1 {
  background-image: url("/images/blob-2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 1/1;
}
